*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: system-ui;
     
}
.container{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    /* overflow-y: hidden; */
}
#side_bar{
    position:fixed;
    /* flex: 2; */
    width: 15%;
    height: 100vh;
    background-color: #333648;
    /* display: none; */
    
}
.main{
    position: relative;
    left: 15%;
    width: 85%;
    height: 100vh;
    background-color: #f7f8fa;
}
#nav{
    width: 85%;
    position: fixed; 
    height: 70px;
    background-color: #ecedf1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1000;
}
#nav_left{
width: 50%;
background-color: ;
display: flex;
flex-direction: row;
width: 50%;
flex-wrap: wrap;
}
#nav_right{
width: 50%;
background-color: ;
display: flex;
flex-direction: row;
align-items: center;
flex-wrap: wrap;
justify-content: end;
}
.fa-solid{
    margin: 25px;
}
#nav_right img{
    height: 20px;
    width: 23px;
}
#profile{
    width: 30px;
    height: 30px;
    background-color: aqua;
    border-radius: 50%;
}
#profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
select {
    border: none;
}
.country{

    
    height: 30px;
     width: 65px;
     text-align: center;
     padding-top: 5px;
     border-radius: 5px;
 
}
#nav_right input{
    height: 30px;
    border-radius: 20px;
    border: none;
    width: 170px;
    align-items: center;
    padding: 5px;
    margin-right:40px ;
}
#create{
  background-color: white;
  height: 30px;
   width: 65px;
   text-align: center;
   padding-top: 5px;
   border-radius: 5px;
   margin-top: 18px;
}
.country_bar{
   display: flex;
   flex-direction: row;
   margin-left: 20px;
   display: flex;
   align-items: center;
   justify-content: center;

   width: 100%;
}
.country_bar_elements{
   margin-right:25px;
}

/*---------------setings_bar---------------------*/
.products_info{
    width: 100%;
    height:60vh;
    position: absolute;
    top: 5%;
}
#settings_bar{
   
    height: 25%;
    width: 100%;
    background-color: ;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     
}

#welcome_to_dashboard > h3{
    padding-top: 58px;
    padding-left: 15px;
    color: #5a626f;
}
#welcome_to_dashboard p{
    padding-top: 5px;
   color: #818589;
    padding-left: 15px;
}
#settings{
    flex: 5;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
}
#settings button{
    margin-right: 20px;
    padding: 7px;
    width: 90px;
    background-color: #626ed3;
    color:white;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
}
#welcome_to_dashboard{
  flex: 5;

}
#cards{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
   
}

.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 140px;
    width: 275px;
    background-color: #626ed3;
     margin: 15px;
     border-radius: 5px;

}

.details{
    display: flex;
    flex-direction: row;
    
    align-items: center;
justify-content: center;
height: 80px;

}
.info p{
    font-size: small;
    color: #b1b9ea;
}
.logo img{
    width: 90%;
    height: 50px;
    margin-right: 35px;
   padding-left: 15px;
}
.info{
    color: white;
    margin-right: 35px;
}
.time{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  height: 60px;
  align-items: center;
}
#since{
    flex: 7;
     margin-left: 20px;
     color: #9fa8ee;
}
#arr{
    flex: 3;
    height: 100%;
  
}
.polygon{
    width: 70px;
    height: 20px;
    clip-path: polygon(0% 100%, 20% 50%, 0% 0%, 100% 0%, 100% 100%);
    background-color:#2a9f96;
    color: white;
    font-size: small;
    text-align: center;
}
#stat img{
    width: 20px;
    height: 15px;
}
#arr{
   display: flex;
   justify-content: center;
   align-items: center;
}
#arr img{
    width: 20px;
    height: 20px;
}
.tag2{
    background-color: #e75f73;
}
.tag3{
    background-color: #35a5f7;
}
.tag4{
    background-color: #f7b426;
}
.transaction_and_chart{
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 52vh;
    margin-left: 20px;
}
.transaction_presons{
    width: 70%;
    background-color: #feffff;
    margin: 10px;

}
.transaction_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */

}
.transaction_titile{
    width: 95%;
    height: 50px;
    background-color: #feffff;
    margin:5px;
    color: black;
    font-weight: 100;
   
}
.transaction_titile hr{
margin-top: 20px;
bcolor: lightgray;
}
.transaction_header{
    width: 95%;
    height: 30px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
    
}
.transaction_header div{
width: 250px;
font-size: small;
display: flex;
justify-content: center;
align-items: center;

}
.common_class{
    margin-right: 30px;
   
}

.person_details{
    height: 65px;
    border-bottom: 3px solid #f6f6f7;
}
.person_name img{
    height: 40px;
    width: 43px;
    border-radius: 50%;
    object-fit:cover;
}
.person_name P{
    font-weight: bold;
}
.deliverd{
    height: 20px;
    width: 50px;
    background-color: #2a9f96;
    color: white;
padding: 2px;
  border-radius: 5px;
  margin-left: 30px;
}
.pending{
    height: 20px;
    width: 50px;
    background-color: #f4b622;
    color: white;
padding: 2px;
  border-radius: 5px;
  margin-left: 30px;
}
.cancle{
    height: 20px;
    width: 50px;
    background-color:#ea8093;
    color: white;
padding: 2px;
  border-radius: 5px;
  margin-left: 30px;
}
.Edit{
   background-color: #6470d4;
   height: 25px;
    width: 35px;
    color: white;
    border: none;
    font-size: x-small;
    border-radius: 3px;
}
.transaction_header > .heading_name{
    width: 400px;
   display: flex;
   justify-content: center;
   margin-right: 100px;
}
 .heading_name{
    width: 400px;
}
.common_person_class {
    margin-right:56px ;
}
.common_class2{
    margin-left: -44px;
}
.person_details > .person_name{
margin-right: 100px;
}
.chat{
    position: relative;
    width: 30%;
    height: 100%;
    /* background-color: #e75f73; */
    overflow-y: scroll;
    border-radius: 10px;
    margin-top: 55px;
    margin-left: 80px;
}
.chat_nav p{
 
   overflow-y: scroll;

}
.chat_nav{
    /* position: fixed; */

}

.chat_nav{
    width: 100%;
    height:10%;
    background-color: white;
   
}
.chat_nav >h4{
    color: #888d97;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
}
.chat section{
    width: 100%;
    height: 70%;
    background-color:#feffff;
    overflow-y: scroll;
}
.person_photo {
width: 13%;
margin: 5px;
display: flex;
justify-content: start;
margin-left: 10px;
}
.person_photo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  
}
.people_chat{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.person_message{
    margin: 5px;
    width: 40%;
    height: auto;
    background-color: #dfe5f6;
    color: #5666c2;
    display: flex;
    justify-content:start;
}

.oppsite_chat{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.oppsite_photo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
.oppsite_photo{
    width: 20%;
    margin: 5px;
    display: flex;
    justify-content: end;
    
}
.oppsite_message{
    width:60%;
    background-color:#edf1f4;
    display: flex;
    justify-content: end;
    margin-left: 90px;
}
footer{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    background-color:#feffff;
  
}
.input{
    width: 80%;
    margin: 5px;
    /* margin-left: 10px; */
   display: flex;
   justify-content: center;
   height: 50px;
   align-items: center;
}
.input input{
   margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #e7ebec;
    width:220px
}

footer .send{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
footer button{
    background-color: #28a39c;
    height: 30px;
    width: 60px;
    color: #c9e9e5;
    border: none;
    margin-bottom: 5px;
}

/*----------------------- Side Bar css -------------------*/

.side_bar_headnig{
    /* background-color: #35a5f7; */
    width: 100%;
    height:90px;
    
}
.side_bar_headnig h3{
    font-weight: 400;
}
.side_bar_wrapper{
    display: flex;
    flex-direction: column;
}
.menu_items{
    display: flex;
    flex-direction: column;
  /* background-color: #28a39c; */


}
.side_bar_headnig{
    display: flex;
    align-items: center;
    justify-content: center;
}
.side_bar_headnig h3{
    color: #c7cbcf;
    font-size: x-large;
}
.main_heading{
 color: #a6b8cb;
 font-size: x-small;
 margin-left: 15px;
}
.items{
    display: flex;
    margin: 12px;
    margin-right: 10px;
    height: 50px;
    margin: 2px;
}
.items div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.items img{
    height: 30px;
    
}
.items p{
    display: flex;
    align-items: center;
    color: #a6b8cb;
}

.side_bar_common_class{
    margin-right: 20px;
}

/*--------table--------*/
table, th, td {
    border-top: 1px dotted lightgreen;
    border-collapse: collapse;
    margin-left: 10px;
}

th, td {
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

}
th{
    color: #7f8485;
 
    font-size: large;
}
td{
    color: #96999f;
   
    font-size: large;
}

.name {
    display: flex;
    align-items: center;
}

.name > img {
    margin-right: 10px;
}

.transactiontable > p{
    margin: 20px;
    margin-left: 10px;
    font-size: large;
}

.delivered {
    background-color: #52b4ab;
    border: none;
    border-radius: 2px;
}

.pending {
    background-color: #f3b528;
    border: none;
    border-radius: 2px;
}

.cancel {
    background-color: #e9435b;
    border: none;
    border-radius: 2px;
}

.edit-btn {
    background-color: #6974d6;
    border: none;
    border-radius: 2px;
    height: 25px;
    cursor: pointer;
}
#l_img{
    height: 10px;
}






















@media only screen and (max-width: 820px) {
    .container{
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100vh;
        flex-wrap: wrap;
        /* overflow-y: hidden; */
    }
.transaction_presons {
 overflow: scroll;
 display: block;
}
.transaction_and_chart{
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    height: 52vh;
    margin-left: 20px;
}
.main{
    position: absolute;
    left: 40%;
    width: 65%;
    height: 100vh;
    background-color: #f7f8fa;
    margin-left: 29%;
}
#nav{
    width: 55%;
    position: fixed; 
    height: 70px;
    background-color: #ecedf1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    left: 35%;
}
#side_bar{
    position:fixed;
    /* flex: 2; */
    width: 35%;
    height: 100vh;
    background-color: #333648;
    /* display: none; */
    z-index: 1000;
    
}
#nav_right{
    display: none;
}
    
}