*{
    margin: 0;
}
:root{
    --navbar: #0d6efd;
}
.home_container {
    height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #333648;
}

.header-column {
    background-color: #f7f8fa;
    /* flex: 1; */
    padding-left: 0px;
    padding-right: 0px;
}

/* search */
.form {
    display: flex;
    flex-direction: row;
  }
  .search-field {
    background-color: #dee1eb;
    width: 100%;
    padding: 5px 35px 5px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
  }
  
  .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
  }
  
  .search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
  }
/* end of search */

.lang {
    margin-left: 10px;
    background: transparent;
    color: #71788f;
    border: none;
    cursor: pointer;
}

.l_img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    /* margin-right: 10px; */
}

/* nav bar styling */
.create{
    border:none;
    background-color: #f6fafb;
}
.nav_bar{
    background-color: #ecedf1;
}
.left_nav{
    
}
.nav_images{
    height: 25px;
}

/*dashboard nav*/

.btn-success{
    background-color: #5f6fd3;
}
.btn{
    width: 120px;
    height: 40px;
}
section{
    height: calc(100% - 100px);
    overflow-y: scroll;
}
.side_bar_common_class{
    height: 40px;
}
.arrow{
    height: 22px;
}
.navi{
    width: 100%;
}
#sidebar {
    width: 20%;
    background-color: #32334a;
}
.companyname {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: #b2b6bc;
}

.h6main {
    color: #747f94;;
}

.links > a {
    color: #747f94;
    text-decoration: none;
}
/* dinehd */
.nav_bar{
    background-color: #0d6efd;
}
section{
    height: 90vh;
}



/* cards section */

.cards{
    width: 100%;
    /* height: 30%; */
    /* background-color: #0d6efd; */
} 
.card {
    background-color: #626ed3;   
    width: 250px;
    margin-top: 15px;
}

.info > h4 {
    font-size: 14px;
    color: #a1abe5;
}

.info > p {
    font-size: 22px;
    color: #fff;
}

.polygon {
    clip-path: polygon(9% 0, 100% 0, 100% 95%, 0 95%, 34% 40%);
    background-color: #2ba399;
    height: 20px;
    width: 65px;
}

.polygon > p {
    font-size: small;
}

.rightpart {
    top: 12%;
}

.past > p {
    color: #a1abe5;
    font-size: 15px;
}
.bg-red{
    background-color: #ea4662;
}
.bg-blue{
    background-color: #3aa2f6;
}
.bg-yellow{
    background-color: #f7b426;
}

/*-----table-----*/
.table_container{
    width: 60%;
    height: auto;
    background-color: #feffff;
}
.table_img{
    height: 45px;
    width: 50px;
    border-radius: 50%;
}
.latest_transaction{
    border-bottom: 1px solid #ebeced;
    font-size: small;
    color:#6e7179;
 
}
/* .table_container{
    overflow: scroll;
} */

.tableclass  {
    width: 90%;
    overflow-x: scroll;
}

.status{
    border-radius: 5px;
    border: none;
    font-size: 10px;
    background-color: #25a295;
    color: #c7e6e7;
}
.edit_button{
    border: none;
    background-color: #5f6fd3;
    color:white;
}
.table_heading{
    color: #6e7179 !important;
}
.table_content{
    color: #777a84;
}
.cancle{ 
    background-color: #ef6a7e;
    color: #efcad1;
}
.pending{
background-color: #fbb624;
color: #f7e7c3;
}
/* chat box---*/
.chart_container{
    width: 33%;
    height: 600px;
    background-color: #25a295;
}
.chatbox {
    background-color: #fff;
    width: 350px;
    height: 450px;
}

.chatContainer {
    height: 330px;
    overflow-y: scroll;
}

.msg1 {
    background-color: #dfe4f6;
    border-radius: 4px;
}

.msg2 {
    background-color: #edf1f4;
    border-radius: 4px;
}

.msg2 > h4 {
    font-size: medium;
}

.msg1 > h4 {
    font-size: medium;
}

.msg1,.msg2 > p {
    font-size: small;
}


/*----------- media quary ------- */
@media only screen and (max-width: 820px) {
    .sidebar_name{
        display: none;
    }
    #sidebar{
        width: 13%;
        /* display: block; */
        /* z-index: 1000; */
    }
    .h6main{
        font-size: 10px ;
    }
    .table_container{
        width: 80%;
        height: auto;
        background-color: #feffff;
    }
    .chatbox {
        background-color: #fff;
        width: 255px;
        height: 450px;
        margin-top: 60px;
       position: relative;
       left: 1%;
       margin-left: 0    ;
            
    }
  }
